.g-term {
  display: flex;
  flex-direction: column;
  padding: 50px 25px;

  .m-term {
    display: flex;
    flex-direction: column;

    .ant-picker{
      width: 80%;
      margin-bottom: 10px;
    }

  }
}